In [1]:
import pandas as pd

In [3]:
long = pd.read_csv("long.csv")
long.head()

   Unnamed: 0  length    steps
0           0     0.4   1371.0
1           1     0.4   8392.0
2           2     0.4  19167.0
3           3     0.4   5523.0
4           4     0.4   2159.0

In [5]:
long['id'] = long['Unnamed: 0']%10

In [9]:
long.groupby('id').mean()

    Unnamed: 0  length         steps
id
0        145.0     1.1  20353.500000
1        146.0     1.1  21420.633333
2        147.0     1.1  24486.500000
3        148.0     1.1  14676.633333
4        149.0     1.1  12893.833333
5        150.0     1.1  20965.900000
6        151.0     1.1  21936.400000
7        152.0     1.1  22326.300000
8        153.0     1.1  15982.200000
9        154.0     1.1  21147.566667

In [10]:
uniform = pd.read_csv('uniform.csv')
uniform.head()

   Unnamed: 0  length  steps
0           0     0.4  516.0
1           1     0.4  504.0
2           2     0.4  506.0
3           3     0.4  506.0
4           4     0.4  506.0

In [11]:
uniform['id'] = uniform['Unnamed: 0']%10

In [12]:
uniform.groupby('id').mean()

    Unnamed: 0  length         steps
id
0        145.0     1.1  15815.666667
1        146.0     1.1  22787.566667
2        147.0     1.1  25704.633333
3        148.0     1.1  28767.600000
4        149.0     1.1  20198.333333
5        150.0     1.1  10237.633333
6        151.0     1.1  12503.333333
7        152.0     1.1  18319.966667
8        153.0     1.1  18793.666667
9        154.0     1.1  13188.566667

In [15]:
short = pd.read_csv('short.csv')
short.head()

   Unnamed: 0  length  steps
0           0     0.4  283.0
1           1     0.4  542.0
2           2     0.4  334.0
3           3     0.4  502.0
4           4     0.4  346.0

In [16]:
short['id'] = short['Unnamed: 0']%10

In [17]:
short.groupby('id').mean()

    Unnamed: 0  length        steps
id
0        145.0     1.1  3774.666667
1        146.0     1.1  3411.433333
2        147.0     1.1  5640.566667
3        148.0     1.1  1902.133333
4        149.0     1.1  3145.533333
5        150.0     1.1  1838.833333
6        151.0     1.1  6367.866667
7        152.0     1.1  5103.700000
8        153.0     1.1  4511.800000
9        154.0     1.1  4186.833333

In [13]:
from scipy import stats

In [14]:
stats.ttest_ind(long['steps'], uniform['steps'], alternative='greater')

TtestResult(statistic=0.5068433065119415, pvalue=0.3062258002498278, df=598.0)

In [20]:
stats.ttest_ind(short['steps'], uniform['steps'], alternative='greater')

TtestResult(statistic=-8.948971785745766, pvalue=1.0, df=598.0)